*{
    margin: 0;
    padding:0;
}
.fundo{
    background-image:url(/imagem/fundo.png);
    height: 100vh;
    color:white;
    text-align:center;
    font-family:Arial,Times;
}
.calculadora{
 
    background-color: rgba(0,0,0,0.8);
    position:absolute;
    color:white;
    top:50%;
    left:25%;
    transform: translate(-50%,-50%);
    border-radius:15px;
    width: 550px;
    
}	

.text {
    height: 80px;
    font-size:15px;
    cursor:pointer;
    background-color: rgb(31,31,31);
    border:none;
    color:white;
    margin:3px;
    font-family:Arial,Times;
}

.botao	{
    height: 80px;
    width: 80px;
    font-size:25px;
    cursor:pointer;
    background-color: rgb(31,31,31);
    border:none;
    color:white;
    margin:3px;
    font-family:Arial,Times;
}		
.botao:hover{
    background-color: black;
}
#resultado{
    background-color: white;
    height: 30px;
    width: 520px;
    margin:5px ;
    color:black;
    text-align:right;
    padding:5px;
}

.content {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-85%);
}

.logo {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-95%,-50%);
}

.insta{
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(0%,-50%);
}